<% if user_signed_in? %>
  <h1>Welcome</h1>
  <ul>
    <% @courses.each do |course| %>
      <% unless current_user.transactions.exists?(course_id: course.id) %>
        <section>
          <h3><%= course.title %></h3>
          <%= course.description %>
          <%= course.id %>
          <%= course.user_id %>
          <%= current_user.id %>
          <%= link_to 'BUY', new_transaction_path(course_id: course.id, tutor_id: course.user_id), method: :get %>
        </section><wbr>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>Please sign in to view the courses.</p>
<% end %>
